/* Add CSS styling here */

/* google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */

/* Reset */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utility */

:root {
  --nightblue: #022449;
  --neonorange: #f26d42;
  --blues: #55BDCA;
  --sokkablue: #96ffff;
  --lightsokkablue: #c8eff9;
  --whitish: #faf9f9;
}

a {
  text-transform: lowercase;
  text-decoration: none;
  text-align: center;
  color: var(--whitish);
  background: var(--neonorange);
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--nightblue);
  width: 80%;
  margin: 0 auto;
}

/* header */

header {
  display: flex;
  flex-flow: column wrap;
}

header h1 {
  font-size: 4.5rem;
  text-transform: lowercase;
  color: var(--whitish);
  margin: 10% 0 1% 0;
}

header nav a {
  padding: 5px 15px;
  margin-right: 2px;
  font-size: 1.4rem;
  border-radius: 25px;
}

/* main */
main {
  margin-top: 1%;
  padding: 1%;
  background: var(--whitish);
  border-radius: 10px;
}

/* sections */

/* about-me */
.about-me {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 20px;
  margin-bottom: 5%;
}

.about-me img {
  width: 40%;
  border-radius: 50%;
  margin-right: 5%;
}

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

}

.about-content h3 {
  font-size: 6rem;
}


.about-content a {
  font-size: 2.5rem;
  padding: 5px 15px;
  border-radius: 10px;
  margin-bottom: 5%;
}

.about-content p {
  font-size: 1.5rem;
}


/* project-sec */

.project-sec {
  display: flex;
  flex-direction: column;
}

.project-sec h3 {
  font-size: 3rem;
  display: none;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 3%
}

.projects div {
  width: 23%;
  margin-bottom: 5%;
}

.projects div img {
  border-radius: 20px 0px 20px 0;
}

.projects div h5 {
  font-size: 1.8rem;
}

.projects div p {
  display: none;
}
